body {
  color: yellow
}

@media (min-width: 100px) {
  body {
    color: black
  }

  body {
    color: green
  }

  body {
    color: red
  }

  body {
    color: purple
  }
}

@media (max-width: 300px) {
  body {
    color: orange
  }
}

@media (max-width: 300px) and (min-width: 299px) {
  body {
    color: pink
  }

  body {
    color: teal
  }
}